.img {
    height: 300px;
    width: 400px;
    margin: 30px;
    vertical-align: center;
}
body {
    background-color: #c4f8e7;
    text-align: left;
}
header {
    display: flex;
    background-color: #f0ffff;
    background-image: url(./bg-hero-desktop\ \(1\).svg);
}
main {
    padding-bottom: 88px;
}
.top-left {display: flex;
           flex-direction: column;
           flex: 50%;
           margin-right: 20px;
}
.first-text {
    margin: 30px;
    vertical-align: center;
    text-align: left;
}
.logo {
    height: 30px;
    width: 50px;
    margin: 30px;
    vertical-align: center;
}
.top-right {
    display: flex;
    flex-direction: column;
    flex: 50%;
    
    vertical-align: center;
    align-items: right;
}
.btn1 {
    background-color: #fa4b9d;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    color: white;
    cursor: pointer;
}
.btn2 {
    background-color: white;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin: 20px;
    margin-bottom: 30px;
    padding: 6px;
    width: 75px;
    align-items: right;
}
.first-right {
    flex: 50%;
    margin: 20px;
}
.first-left {
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    vertical-align: auto;
}
.second-left {
    display: flex;
    flex: 50%;
    margin: 20px;
    vertical-align: middle;
    text-align: left;
}
.firsts-left {
    margin: 20px;
    background-color: white;
    display: flex;
    vertical-align: auto;
    border-radius: 5px;
    flex-direction: column;
}
.firsts-right {
    flex: 50%;
    margin: 20px;
    flex-direction: column;
}
.seconds-right {
    display: flex;
    flex: 50%;
    flex-direction: column;
}
.first-onleft {
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.first-onright {
    flex: 50%;
    margin: 20px;
}
.second-onleft {
    display: flex;
    flex: 50%;
    margin: 20px;
}
.container {
    background-color: #f0ffff;
    width: 60%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    height: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -60px;
    margin-bottom: 0cm;
}
footer {
    background-color: #05445E;
    color: white;
    vertical-align: middle;
}
.location {
    flex-direction: row;
    display: flex;
    margin: 30px;
    flex: 33%;
}
.phone {
    display: flex;
    flex-direction: row;
    margin: 30px;
    flex: 33%;
}
.mail {
    display: flex;
    flex-direction: row;
    margin: 30px;
    flex: 33%;
}
.about {
    flex-direction:column; 
    display: flex;
    vertical-align: auto;
    text-align: center;
    flex: 33%;
    margin: 30px;
    margin-top: 0%;
}
.social {
    text-align: right;
    display: flex;
    flex-direction: column;
    flex: 33%;
    margin: 30px;
    margin-top: 0%;
}