.img {
    height: 300px;
    width: 400px;
    margin: 30px;
    vertical-align: center;
}
body {
    background-color: #c4f8e7;
    text-align: left;
    scroll-snap-type: mandatory;
    max-width: 100%;
}
header {
    display: flex;
    flex-direction: row;
    background-color: #f0ffff;
    background-image: url(./bg-hero-desktop\ \(1\).svg);
}
main {
    padding: 60px;
    margin-top: 100px;
}
.top-left {display: flex;
           flex-direction: column;
           flex: 50%;
           margin-right: 20px;
}
.first-text {
    margin: 30px;
    vertical-align: center;
    text-align: left;
}
.logo {
    height: 30px;
    width: 50px;
    margin: 30px;
    vertical-align: center;
}
.top-right {
    display: flex;
    flex-direction: column;
    flex: 50%;
    
    vertical-align: center;
    align-items: right;
}
.btn1 {
    background-color: #fa4b9d;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    color: white;
    cursor: pointer;
}
.btn2 {
    background-color: white;
    color: #000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin: 20px;
    margin-bottom: 30px;
    padding: 6px;
    width: 75px;
    align-items: right;
}
.grow-together2 {
    width: 50%;
}
.grow-together1{
    width: 50%;
    margin: auto 100px;
}
.grow-together {
    margin: 20px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    vertical-align: auto;
    border: 2px solid transparent;
}
.second-left {
    display: flex;
    flex: 50%;
    margin: 20px;
    vertical-align: middle;
    text-align: left;
}
.firsts-left {
    margin: 20px;
    background-color: white;
    display: flex;
    vertical-align: auto;
    border-radius: 5px;
    flex-direction: column;
}
.firsts-right {
    flex: 50%;
    margin: 20px;
    flex-direction: column;
}
.seconds-right {
    display: flex;
    flex: 50%;
    flex-direction: column;
}
.first-onleft {
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.first-onright {
    flex: 50%;
    margin: 20px;
}
.second-onleft {
    display: flex;
    flex: 50%;
    margin: 20px;
}
.container {
    background-color: #f0ffff;
    width: 60%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    height: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -60px;
    margin-bottom: 0cm;
}
.about {
    flex-direction:column; 
    display: flex;
    vertical-align: auto;
    text-align: center;
    flex: 33%;
    margin: 30px;
    margin-top: 0%;
}
footer {
    display: flex;
    gap: 10px;
    padding: 100px;
    background-color: hsl(192, 100%, 8%);
    margin-top: -140px;
    padding-top: 150px;
    z-index: -1;
    position: relative;
    color: #fff;
    font-family: sans-serif;
    bottom: 0;
}
footer a {
    color: #fff !important;
    text-decoration: none;
}
.footer1 {
    width: 30%;
}
.footer2 {
    width: 25%;
}
.footer3 {
    width: 25%;
}
.footer4 {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.footer4 i {
    color: white;
}
.footer4 ul li a {
    color: white;
    text-decoration: none;
    padding: 13px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.footer4 ul li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 120px;
}
footer ul li {
    list-style: none;
    margin-bottom: 20px;
}
.footer1 p img {
    margin: auto;
    margin-right: 12px;
}
.footer1 p {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.footer2, 
.footer3,
.footer4 {margin-top: 100px;}
@media screen and (max-width:1440px) {
    footer {
        flex-direction: column;
    }
    .grow-together1 {
        width: 100%;
    }
    .grow-together2 {
        width: 100%;
    }
    .grow-together {
        flex-direction: column-reverse;
    }
    .footer1,
    .footer2 {
        margin-top: 0px;
    }
    .footer4 {width:100%;
              margin-left: auto;
              margin-right: auto;
    }
    .footer4, .footer3, .footer2, .footer1 {
        width: 100%;
        display: flexbox;
    }
}

